@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    @apply font-spartan text-darkGrey;
  }
  a {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
  }
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
  .heading1, .heading2, .heading3, .heading4, .heading5, .heading6, a {
    @apply font-bold font-spartan;
  }
  .heading1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.2px;
  }
  @screen md {
    .heading1 {
      font-size: 96px;
      line-height: 80px;
      letter-spacing: -2px;
    }
  }
  .heading2 {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.71px;
    @apply text-darkBlue;
  }
  @screen md {
    .heading2 {
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -2px;
    }
  }
  .heading3 {
    font-size: 32px;
    line-height: 40px;
  }
  .heading4 {
    font-size: 250px;
    line-height: 200px;
    letter-spacing: -5px;
    @apply text-white/50;
  }
  .paragraph {
    font-size: 18px;
    line-height: 24px;
    @apply font-spartan;
  }
  a {
    @apply text-darkBlue hover:text-darkGrey;
  }
}
@layer components {
  .cta {
    padding: 25px 35px;
    @apply font-bold text-[18px] leading-[25px] bg-darkBlue inline-flex items-center;
  }
  .cta:hover {
    @apply bg-darkGrey text-white;
  }
  .tag {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  input, textarea {
    @apply border-b-[1px] border-darkBlue caret-darkBlue;
    background: white;
    padding-bottom: 22px;
    padding-left: 35px;
    outline: none;
    width: 100%;
    -webkit-border-radius: 0;
    cursor: pointer;
  }
  input {
    margin-bottom: 43px;
  }
  textarea::-moz-placeholder, input::-moz-placeholder {
    font-size: 20px;
    letter-spacing: -0.31px;
  }
  input, textarea, textarea::placeholder, input::placeholder {
    font-size: 20px;
    letter-spacing: -0.31px;
  }
  input, textarea {
    @apply text-darkBlue;
  }
  input:focus, textarea:focus {
    @apply border-b-[3px];
  }
  input::-moz-placeholder, textarea::-moz-placeholder {
    @apply text-lightGrey;
  }
  input::placeholder, textarea::placeholder {
    @apply text-lightGrey;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: background-color 5000000s ease-in-out 0s;
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: #1B1D23;
    background-clip: content-box !important;
  }
  button {
    outline: none;
    border: none;
  }
  .form-input {
    position: relative;
  }
  .error {
    @apply text-lightRed text-[18px] absolute z-[1] font-bold tracking-[-.28px] transition-all duration-300 ease-in opacity-100 bottom-[58px] right-4;
  }
}
@layer utilities {
  .fadein-left {
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-left {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .home-hero-bg-paramour {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/mobile/image-hero-paramour.jpg") no-repeat center center;
    background-size: cover;
  }
  @screen md {
    .home-hero-bg-paramour {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/tablet/image-hero-paramour.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  @screen xl {
    .home-hero-bg-paramour {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/desktop/image-hero-paramour.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .home-hero-bg-seraph {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/mobile/image-hero-seraph.jpg") no-repeat center center;
    background-size: cover;
  }
  @screen md {
    .home-hero-bg-seraph {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/tablet/image-hero-seraph.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  @screen xl {
    .home-hero-bg-seraph {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/desktop/image-hero-seraph.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .home-hero-bg-federal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/mobile/image-hero-federal.jpg") no-repeat center center;
    background-size: cover;
  }
  @screen md {
    .home-hero-bg-federal {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/tablet/image-hero-federal.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  @screen xl {
    .home-hero-bg-federal {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/desktop/image-hero-federal.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .home-hero-bg-trinity {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/mobile/image-hero-trinity.jpg") no-repeat center center;
    background-size: cover;
  }
  @screen md {
    .home-hero-bg-trinity {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/tablet/image-hero-trinity.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  @screen xl {
    .home-hero-bg-trinity {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/desktop/image-hero-trinity.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .home-small-team-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/mobile/image-small-team.jpg") no-repeat center center;
    background-size: cover;
  }
  @screen md {
    .home-small-team-bg {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/tablet/image-small-team.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  @screen xl {
    .home-small-team-bg {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/src/assets/home/desktop/image-small-team.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  .delSol {
    background: url("/src/assets/portfolio/mobile/image-del-sol.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .delSol {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-del-sol.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .delSol {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-del-sol.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .b {
    background: url("/src/assets/portfolio/mobile/image-228b.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .b {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-228b.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .b {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-228b.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .prototype {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-prototype.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .prototype {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-prototype.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .prototype {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-prototype.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .seraph {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-seraph.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .seraph {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-seraph.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .seraph {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-seraph.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .eebox {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-eebox.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .eebox {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-eebox.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .eebox {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-eebox.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .federal {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-federal.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .federal {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-federal.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .federal {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-federal.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .edelweiss {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-edelweiss.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .edelweiss {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-edelweiss.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .edelweiss {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-edelweiss.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .netcry {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-netcry.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .netcry {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-netcry.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .netcry {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-netcry.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .hypers {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-hypers.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .hypers {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-hypers.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .hypers {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-hypers.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .sxiv {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-sxiv.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .sxiv {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-sxiv.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .sxiv {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-sxiv.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .trinity {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-trinity.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .trinity {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-trinity.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .trinity {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-trinity.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  .paramour {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/mobile/image-paramour.jpg") no-repeat center top;
    background-size: cover;
  }
  @screen md {
    .paramour {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/tablet/image-paramour.jpg") no-repeat center top;
      background-size: cover;
    }
  }
  @screen xl {
    .paramour {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.5)), url("/src/assets/portfolio/desktop/image-paramour.jpg") no-repeat center top;
      background-size: cover;
    }
  }
}/*# sourceMappingURL=index.css.map */