.carousel .carousel-item {
  bottom: 0;
  height: 560px;
  @screen md {
    height: 720px;
  }
}

.carousel-indicators li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 0;
  outline: none;
  border: none;
  width: 80px;
  height: 80px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #7d828f;
  background-color: #fff;
  transition: all 0.25s ease;
  margin: 0 0 -10px 0;
  &.active {
    background-color: #1b1d23;
    color: #fff;
  }
  &:hover {
    background-color: #EEEFF4;
  }
}
